[project]
name = "session_sniffer"
version = "v1.4.3.post2+20251225.1055"
dependencies = [
    "colorama==0.4.6",
    "dnspython==2.8.0",
    "geoip2==5.2.0",
    "packaging==25.0",
    "prettytable==3.17.0",
    "psutil==7.2.0",
    "pydantic==2.12.5",
    "pypresence==4.6.1",
    "PyQt6==6.8.1",
    "pywin32==311; platform_system == 'Windows'",
    "QDarkStyle==3.2.3",
    "requests==2.32.5",
    "rich==14.2.0",
    "sentinel==1.0.0",
    "toml==0.10.2",
    "types-requests==2.32.4.20250913",
    "types-toml==0.10.8.20240310",
    "tzlocal==5.3.1",

    # Security fixes
    "aiohttp>=3.12.14",
    "certifi>=2024.7.4",
    "idna>=3.7",
]
requires-python = "==3.14"
authors = [
    {name = "BUZZARDGTA"},
]
description = "A packet sniffer (also known as an IP sniffer/puller) specifically designed for Peer-To-Peer (P2P) video games on PC and consoles (PlayStation and Xbox)."
license = { file = "COPYING" }
readme = "README.md"


[project.urls]
Documentation = "https://github.com/BUZZARDGTA/Session-Sniffer/wiki"
Repository = "https://github.com/BUZZARDGTA/Session-Sniffer"
Issues = "https://github.com/BUZZARDGTA/Session-Sniffer/issues"
Discord = "https://discord.gg/hMZ7MsPX7G"


[tool.mypy]
python_version = "3.14"
check_untyped_defs = true
ignore_missing_imports = true
strict = true


[tool.pydocstyle]
[tool.pylint.master]
enable = "all"
extension-pkg-allow-list = ["PyQt6"]
ignore = [
    ".dev",
    ".history",
    ".venv",
]
ignore-patterns = "^\\.#|.*\\.pyi"
py-version = "3.14"
recursive = true

[tool.pylint.format]
max-line-length = 176

[tool.pylint."messages control"]
disable = [
    "fixme",
    "locally-disabled",
    "no-name-in-module",  # TODO (BUZZARDGTA): unsupported in Python 3.14
    "redefined-outer-name",
    "suppressed-message",
    "too-many-branches",
    "too-many-locals",
    "too-many-statements",
    "undefined-variable",  # TODO (BUZZARDGTA): unsupported in Python 3.14
    "used-before-assignment",  # TODO (BUZZARDGTA): unsupported in Python 3.14
]


[tool.pyright]
pythonVersion = "3.14"
pythonPlatform = "Windows"
typeCheckingMode = "strict"


[tool.ruff]
target-version = "py314"
line-length = 176
exclude = [
    ".history",
    ".venv",
]

[tool.ruff.lint]
ignore = [
    "C901",    # complex-structure
    "ERA001",  # commented-out-code
    "FIX002",  # line-contains-todo
    "PLR0912", # too-many-branches
    "PLR0915", # too-many-statements
    "S602",    # subprocess-popen-with-shell-equals-true
    "S603",    # subprocess-without-shell-equals-true
    "TD003",   # missing-todo-link
    "TD005",   # missing-todo-description
]
select = ["ALL"]

[tool.ruff.lint.flake8-quotes]
inline-quotes = "single"

[tool.ruff.lint.isort]
known-first-party = [
    "modules",
]
section-order = [
    "future",
    "standard-library",
    "third-party",
    "first-party",
    "local-folder",
]

[tool.ruff.lint.pydocstyle]
convention = "google"


[tool.ty.environment]
python-platform = "win32"
python-version = "3.12"

[tool.ty.src]
exclude = [
    ".history",
]

[tool.ty.terminal]
# Error if ty emits any warning-level diagnostics.
error-on-warning = true


[tool.vulture]
exclude = [
    ".history",
    ".venv",
]
min_confidence = 61
